* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

// html {
//   //font-size: 62.5%;
//   //@include respond(tab-land) {
//   //  font-size: 56.25%; //1rem =9px
//   //}
// }

