.btn {
    &:link,
    &:visited {
        display: inline-block;
        margin-top: 20px;
        padding: 8px 20px;
        background-color: $color-primary;
        color: $color-white;
        border-radius: 40px;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
        position: relative;
    }

    &:hover {
        transform: translate(5px, 5px);
        box-shadow: 0 5px 20px rgba($color-black, 0.3);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        box-shadow: 0 5px 20px rgba($color-black, 0.6);
        outline: none;
        transform: translate(5px, 5px);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 40px;
        background-color: $color-primary;
        z-index: -1;
        transition: all 2s;
    }
}
