.content {
    display: flex;
    flex-direction: column;

    &__main {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px;
        color: $color-brown;
        &_headline {
            position: relative;
            max-width: 65%;

            h2 {
                font-size: 4em;
                line-height: 1.4;
                font-weight: 500;

                span {
                    color: $color-primary;
                    font-size: 1.2em;
                    font-weight: 900;
                }
            }
        }
        &_picture {
            max-width: 35%;
            display: flex;
            justify-content: flex-end;
            padding-right: 50px;
            margin-top: 50px;
            &--main {
                max-width: 340px;
            }
        }
    }
    &__sub {
        display: flex
    }
    &__sub &_thumb {
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        &--item {
        }
    }
}
