.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_logo {
        position: relative;
        height: 80px;
    }
    &_navigation {
        position: relative;
        display: flex;

        &--item {
            list-style: none;
        }

        &--link {
            display: inline-block;
            color: $color-brown;
            font-weight: 500;
            margin-left: 40px;
            text-decoration: none;
        }
    }
}
