.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_logo {
        position: relative;
        height: 80px;
    }
    &_navigation {
        position: relative;
        display: flex;

        &--item {
            list-style: none;
            @include respond(tab-port) {

                list-style: none;
                padding-right: 40px;
                padding-top: 40px;
                text-transform: uppercase;
                font-size: 1.6rem;
                color: white;
            }
        }

        &--link {
            display: inline-block;
            color: $color-brown;
            font-weight: 500;
            margin-left: 40px;
            text-decoration: none;
            @include respond(tab-port) {
                color: white;
            }
        }

        @include respond(tab-port) {
            // //background-color: $color-black;
            // height: 100vh;
            // width: 100%;
            // position: absolute;
            // // top: 0;
            // // right: 0;
            // z-index: 1500;
            // opacity: 1;
            // transition: all 0.8s;
            // display: inline-block;
            // top: 50%;
            // left: 50%;

            // height: 100vh;
            // position: absolute;
            // //z-index: 1500;
            // opacity: 1;
            // transition: all 0.8s;
            // display: flex;
            // flex-wrap: wrap;
            // top: 50%;
            // left: 50%;
            // flex-direction: column;
            // justify-content: center;
            // transform: translate(-50px, -50px);
            // align-items: center;
        }
    }
}
